body {
  font-family: sans-serif;
  background-color: #c38d9e;
}

a {
  text-decoration: none;
}

/* label {
  display: block;
} */

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

nav a :hover {
  color: pink;
  /* text-decoration: none;
  text-transform: uppercase;
  padding: 10px; */
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.authform {
  display: flex;
  justify-content: center;
  margin: 200px;
}
.welcome {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.form {
  border: black;
  border-style: solid;
}

.Navbar {
  width: 98%;
  height: 10%;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #41b3a3;
}

.NavbarLogo {
  justify-self: left;
}

.Container {
  display: flex;
  justify-content: space-between;
}

.Transactioncontainer {
  margin-top: 10%;
  flex-direction: column;
  flex-grow: 3;
}

.StockContainer {
  margin-top: 10%;
  flex-grow: 3;
}

.PurchaseStockComponent {
  top: 17%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  position: fixed;
  right: 0px;
  width: 400px;
}

/* .PortfolioPage {
  margin-top: 5%;
  display: flex;
} */

/* .stocks {
  border-style: solid;
  flex-grow: 3;
} */

/* .purchaseContainer {
  width: 400px;
  right: 0px;
} */

/* .PurchaseStockComponent {
  top: 15%;
  border-style: solid;
  position: fixed;
  right: 0px;
  flex-grow: 1;
} */

.gain {
  color: green;
}

.neutral {
  color: gray;
}

.loss {
  color: red;
}
